@{
  Layout = "_Layout";
}

@using MusicCollection.Models;

<h3>Here are all the Records by this artist</h3>

<ol>
  @foreach (Record record in @Model["records"])
  {
    <li><a href='/artists/@Model["artist"].Id/records/@record.Id'>@record.Title</a></li>
  }
</ol>

<p><a href= '/artists/@Model["artist"].Id/records/new'>Add a new Record</a></p>
<p><a href='/artists'>Return to Artists lists</a></p>
<p><a href='/'>Return to Home</a></p>